.dropdown {
	position: fixed;
	visibility: hidden;
	transform: translateY(-15px);
	transition: none;
	width: 150px;
	margin-left: -75px;
	opacity: 0;
	z-index: 5;
}

.dropdown .arrow {
  height: 0px;
  width: 0px;
  border: 10px solid transparent;
  border-bottom-color: #eee;
  display: block;
  margin: 0 auto;
}

.dropdown.in {
	visibility: visible;
	transform: translateY(0px);
	transition-duration: 0.3s;
	transition-property: transform, opacity;
	opacity: 1;
}

.dropdown ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown li a {
	display: block;
	padding: 10px;
}